<style type="text/css">
  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .hm {
    background-image: url('assets/files/image.png.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">
  <main>
    <div class="row pt-3">

      <div class="col-md-4 mb-4"></div>

      <div class="col-md-4 mb-4">
        <div class="card input-group-addon">
          <div class="card-body">

            <h3 class="text-center default-text text-dark">Login</h3>

            <div>
              <H4 align="center">
                <div *ngIf="form.message" class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ form.message }}
                </div>
              </H4>
            </div>

            <div class="md-form">

              <!-- Login ID -->
              <span class="pl-sm-5"><b>Login Id</b> <span style="color: red;">*</span></span><br>
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope grey-text" style="font-size: 1rem;"></i></div>
                  </div>
                  <input type="text" class="form-control" name="loginId" [(ngModel)]="form.data.loginId"
                    placeholder="Enter Login ID">
                </div>
              </div>
              <font color="red" class="pl-sm-5">{{ form.inputerror.loginId }}</font><br>

              <!-- Password -->
              <span class="pl-sm-5"><b>Password</b> <span style="color: red;">*</span></span><br>
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key grey-text" style="font-size: 1rem;"></i></div>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.data.password"
                    placeholder="Enter Password">
                </div>
              </div>
              <font color="red" class="pl-sm-5">{{ form.inputerror.password }}</font><br>

              <!-- Buttons -->
              <div class="text-center">
                <input type="submit" (click)="signIn()" class="btn btn-success btn-md" style="font-size: 17px"
                  value="Sign In">&nbsp;
                <input type="submit" (click)="signUp()" class="btn btn-warning btn-md" style="font-size: 17px"
                  value="Sign Up">
              </div>

              <br>

              <!-- Forgot Password -->
              <div class="text-center">
                <a [routerLink]="['/forgotpassword']"><b>Forget my password?</b></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4"></div>

    </div>
  </main>
</div>

<app-footer></app-footer>