<app-navbar></app-navbar>

<div align="center">
    <h1 style="color: navy;">Contact List</h1>

    <div style="height: 20px;">
        <h3 style="color: green;" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 style="color: red;" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <div *ngIf="form.list.length > 0">
        <table style="width:100%">
            <tr>
                <td align="center">
                    <label><b>Name:</b></label>
                    <input type="text"
                           [(ngModel)]="form.searchParams.name"
                           placeholder="Enter Name">&nbsp;

                    <label><b>Email:</b></label>
                    <input type="text"
                           [(ngModel)]="form.searchParams.email"
                           placeholder="Enter Email">&nbsp;

                    <button (click)="search()">search</button>&nbsp;
                    <button (click)="reset()">reset</button>
                </td>
            </tr>
        </table>

        <br>

        <table border="1" style="width:100%">
            <tr style="background-color:#e1e6f1e3">
                <th><input type="checkbox"
                           [(ngModel)]="isMasterSel"
                           (change)="checkUncheckAll($event)"></th>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Message</th>
                <th>Edit</th>
            </tr>

            <tr align="center" *ngFor="let m of form.list; let i=index">
                <td>
                    <input type="checkbox"
                           #checkboxes
                           (change)="checklistUpdate()"
                           [id]="m.id">
                </td>
                <td>{{(form.pageNo*5)+i+1}}</td>
                <td>{{m.name}}</td>
                <td>{{m.email}}</td>
                <td>{{m.mobileNo}}</td>
                <td>{{m.message}}</td>
                <td>
                    <a (click)="forward('/contact/' + m.id)"
                       style="cursor:pointer">Edit</a>
                </td>
            </tr>
        </table>

        <br>

        <table style="width:100%">
            <tr>
                <td><button (click)="previous()" [disabled]="form.pageNo==0">previous</button></td>
                <td align="center"><button (click)="forward('/contact')">new</button></td>
                <td align="center"><button (click)="deleteMany()">delete</button></td>
                <td align="right"><button (click)="next()" [disabled]="form.nextListSize==0">next</button></td>
            </tr>
        </table>
    </div>

    <div *ngIf="form.list.length==0">
        <button (click)="reset()">Back</button>
    </div>
</div>

<app-footer></app-footer>
