<style type="text/css">
  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .hm {
    background-image: url('assets/files/image.png.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">
  <main>
    <div class="row pt-3">

      <div class="col-md-4 mb-4"></div>

      <div class="col-md-4 mb-4">
        <div class="card input-group-addon">
          <div class="card-body">

            <h3 *ngIf="!form.data.id" class="text-center default-text text-dark">Add Course</h3>
            <h3 *ngIf="form.data.id > 0" class="text-center default-text text-dark">Update Course</h3>

            <div>
              <H4 align="center">
                <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ form.message }}
                </div>
              </H4>
              <H4 align="center">
                <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ form.message }}
                </div>
              </H4>
            </div>

            <div class="md-form">

              <!-- Name -->
              <span class="pl-sm-5"><b>Name</b> <span style="color: red;">*</span></span><br>
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-book grey-text" style="font-size: 1rem;"></i></div>
                  </div>
                  <input type="text" class="form-control" name="name" [(ngModel)]="form.data.name"
                    placeholder="Enter Course Name">
                </div>
              </div>
              <font color="red" class="pl-sm-5">{{ form.inputerror.name }}</font><br>

              <!-- Duration -->
              <span class="pl-sm-5"><b>Duration</b> <span style="color: red;">*</span></span><br>
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-clock-o grey-text" style="font-size: 1rem;"></i></div>
                  </div>
                  <select name="duration" [(ngModel)]="form.data.duration" class="form-control">
                    <option value="undefined">------------Select------------</option>
                    <option [value]="1">1 Year</option>
                    <option [value]="2">2 Year</option>
                    <option [value]="3">3 Year</option>
                    <option [value]="4">4 Year</option>
                    <option [value]="5">5 Year</option>
                  </select>
                </div>
              </div>
              <font color="red" class="pl-sm-5">{{ form.inputerror.duration }}</font><br>

              <!-- Description -->
              <span class="pl-sm-5"><b>Description</b> <span style="color: red;">*</span></span><br>
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-align-left grey-text" style="font-size: 1rem;"></i></div>
                  </div>
                  <textarea class="form-control" name="description" [(ngModel)]="form.data.description"
                    rows="3" placeholder="Enter Short description" style="resize: none;"></textarea>
                </div>
              </div>
              <font color="red" class="pl-sm-5">{{ form.inputerror.description }}</font><br>

              <!-- Buttons -->
              <div class="text-center">
                <input type="submit" (click)="submit()" class="btn btn-success btn-md" style="font-size: 17px"
                  value="Save">&nbsp;
                <input type="submit" (click)="forward('courselist')" class="btn btn-warning btn-md" style="font-size: 17px"
                  value="List">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4"></div>

    </div>
  </main>
</div>

<app-footer></app-footer>