<app-navbar></app-navbar>
<style type="text/css">
.hm {
  background-image: url('assets/files/image.png.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.text {
  text-align: center;
}
</style>

<div class="hm pb-5">

  <!-- List has data -->
  <ng-container *ngIf="form.list.length > 0">

    <div align="center">
      <h1 style="color: #2F4156;"><b>Subject List</b></h1>
    </div>

    <!-- Success Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="!form.error && form.message" class="col-md-4 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="#008000">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Search Bar -->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <input type="text" name="name" [(ngModel)]="form.searchParams.name"
          placeholder="Enter Subject Name" class="form-control">
      </div>
      &emsp;
      <div class="col-sm-2">
        <input type="submit" (click)="search()" class="btn btn-primary btn-md" style="font-size: 15px" value="Search">
        &nbsp;
        <input type="submit" (click)="reset()" class="btn btn-dark btn-md" style="font-size: 15px" value="Reset">
      </div>
      <div class="col-sm-1"></div>
    </div>

    <br>

    <!-- Table -->
    <div style="margin-bottom: 20px;" class="table-responsive">
      <table class="table table-bordered table-dark table-hover">
        <thead>
          <tr style="background-color: #8C8C8C;">
            <th width="5%">
              <input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)">
            </th>
            <th width="5%" class="text">S.NO</th>
            <th width="20%" class="text">Course</th>
            <th width="20%" class="text">Subject</th>
            <th width="40%" class="text">Description</th>
            <th width="10%" class="text">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of form.list; let i = index">
            <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="isMasterSel"></td>
            <td class="text">{{ (form.pageNo * 5) + i + 1 }}</td>
            <td class="text">{{ m.courseName }}</td>
            <td class="text">{{ m.name }}</td>
            <td class="text">{{ m.description }}</td>
            <td class="text"><a (click)="forward('/subject/' + m.id)" style="cursor: pointer;">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination & Action Buttons -->
    <table width="100%">
      <tr>
        <td>
          <input type="submit" (click)="previous()" class="btn btn-warning btn-md" style="font-size: 17px" value="Previous" [disabled]="form.pageNo == 0">
        </td>
        <td>
          <input type="submit" (click)="forward('/subject')" class="btn btn-primary btn-md" style="font-size: 17px" value="New">
        </td>
        <td>
          <input type="submit" (click)="deleteMany()" class="btn btn-danger btn-md" style="font-size: 17px" value="Delete">
        </td>
        <td align="right">
          <input type="submit" (click)="next()" class="btn btn-warning btn-md" style="font-size: 17px" value="Next" [disabled]="form.nextListSize == 0">
        </td>
      </tr>
    </table>

  </ng-container>

  <!-- List is empty -->
  <ng-container *ngIf="form.list.length == 0">

    <div align="center">
      <h1 style="font-size: 40px; color: #162390;">Subject List</h1>
    </div>

    <br>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <br>

    <div style="padding-left: 48%;">
      <input type="submit" (click)="reset()" class="btn btn-primary btn-md" style="font-size: 17px" value="Back">
    </div>

  </ng-container>

</div>
<app-footer></app-footer>