<style type="text/css">
  .hm {
    background-image: url('assets/files/image.png.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 400px;
  }

  .text {
    text-align: center;
  }
</style>

<app-navbar></app-navbar>

<div class="hm pb-5">

  <!-- List has data -->
  <ng-container *ngIf="form.list.length > 0">

    <div align="center">
      <h1 style="color: #2F4156;"><b>Event List</b></h1>
    </div>

    <!-- Success Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="!form.error && form.message" class="col-md-4 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="#008000">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Search Bar -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <input type="text" name="eventName" [(ngModel)]="form.searchParams.eventName"
          placeholder="Enter Event Name" class="form-control">
      </div>
      &emsp;
      <div class="col-sm-2">
        <input type="text" name="eventType" [(ngModel)]="form.searchParams.eventType"
          placeholder="Enter Event Type" class="form-control">
      </div>
      &emsp;
      <div class="col-sm-3">
        <select name="collegeId" [(ngModel)]="form.searchParams.collegeId" class="form-control">
          <option value="undefined">------------Select------------</option>
          <option *ngFor="let obj of form.preload.collegeList" [value]="obj.key">{{ obj.value }}</option>
        </select>
      </div>
      &emsp;
      <div class="col-sm-2">
        <input type="submit" (click)="search()" class="btn btn-primary btn-md" style="font-size: 15px" value="Search">
        &nbsp;
        <input type="submit" (click)="reset()" class="btn btn-dark btn-md" style="font-size: 15px" value="Reset">
      </div>
      <div class="col-sm-1"></div>
    </div>

    <br>

    <!-- Table -->
    <div style="margin-bottom: 20px;" class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="background-color: #8C8C8C;">
            <th><input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" /></th>
            <th class="text">S.No</th>
            <th width="15%" class="text">Event Name</th>
            <th width="12%" class="text">Event Date</th>
            <th width="12%" class="text">Event Type</th>
            <th width="15%" class="text">College Name</th>
            <th width="5%" class="text">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" *ngFor="let m of form.list; let i = index">
            <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="m.id"></td>
            <td class="text">{{ (form.pageNo * 5) + i + 1 }}</td>
            <td class="text">{{ m.eventName }}</td>
            <td class="text">{{ m.eventDate | date:'dd-MM-yyyy' }}</td>
            <td class="text">{{ m.eventType }}</td>
            <td class="text">{{ m.collegeName }}</td>
            <td class="text"><a [routerLink]="['/event', m.id]" style="cursor: pointer;">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination & Action Buttons -->
    <table width="100%">
      <tr>
        <td>
          <input type="submit" (click)="previous()" class="btn btn-warning btn-md" style="font-size: 17px" value="Previous" [disabled]="form.pageNo == 0">
        </td>
        <td>
          <input type="submit" (click)="forward('/event')" class="btn btn-primary btn-md" style="font-size: 17px" value="New">
        </td>
        <td>
          <input type="submit" (click)="deleteMany()" class="btn btn-danger btn-md" style="font-size: 17px" value="Delete">
        </td>
        <td align="right">
          <input type="submit" (click)="next()" class="btn btn-warning btn-md" style="font-size: 17px" value="Next" [disabled]="form.nextListSize == 0">
        </td>
      </tr>
    </table>

  </ng-container>

  <!-- List is empty -->
  <ng-container *ngIf="form.list.length == 0">

    <div align="center">
      <h1 style="font-size: 40px; color: #162390;">Event List</h1>
    </div>

    <br>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <br>

    <div style="padding-left: 48%;">
      <input type="submit" (click)="reset()" class="btn btn-primary btn-md" style="font-size: 17px" value="Back">
    </div>

  </ng-container>

</div>

<app-footer></app-footer>