<app-navbar></app-navbar>

<style type="text/css">
.p4 {
  background-image: url('assets/files/image.png.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cl {
  font-family: 'Lucida Calligraphy', 'Monotype Corsiva', 'Footlight MT Light', cursive;
}
</style>

<div class="p4">
  <div class="text-cs1">
    <div align="center">
      <h1 style="padding-top: 20%; color: #2F4156">
        <b class="cl">" Welcome to online result system "</b>
      </h1>
    </div>
  </div>
</div>
<app-footer></app-footer>
